<mat-card *ngIf="itemDetail$ | async as itemDetail; else loadingRef">
  <mat-card-header>
    <mat-card-title>{{ titleLabel | uppercase }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>Id:</strong> {{ itemDetail.id }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        ><strong>Title:</strong> {{ itemDetail.title }}</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item class="description-field"
        ><strong class="description-title" matListItemTitle
          >Description:</strong
        >
        <span class="no-wrap" matListItemLine>{{
          itemDetail.description
        }}</span></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><strong [ngClass]="{ 'text-red': itemDetail.offerDiscount }"
          >Prices:</strong
        ></mat-list-item
      >
      @for (price of itemDetail.prices | keyvalue; track price) {
        <mat-list-item>
          <strong>{{ price.key }}</strong>
          <span
            class="ml-5"
            [ngClass]="{ 'item-discounted': itemDetail.offerDiscount }"
            >{{ price.value | rounding | currency: "MXN" }}</span
          >
          @if (itemDetail.offerDiscount) {
            <span
              class="ml-5"
              [ngClass]="{ 'text-red': itemDetail.offerDiscount }"
              >{{ getDiscountedPrice(price.value, itemDetail.offerDiscount) | rounding | currency: "MXN" }}</span
            >
          }
        </mat-list-item>
      }
      <mat-divider></mat-divider>
    </mat-list>
    <div class="photo-container">
      @for (photo of itemDetail.photos; track photo) {
        <img matListItemAvatar alt="" [src]="photo" width="60" height="60" />
      }
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loadingRef>
  <div class="loading">
    <mat-spinner color="accent" [diameter]="40"></mat-spinner>
    {{ loadingLabel }}
  </div>
</ng-template>
