<div class="app-resume-form">
  <form
    class="m-10 border-2 border-primary rounded-md p-6 shadow-lg shadow-primary"
    [formGroup]="itemForm"
    (ngSubmit)="onSubmit($event, itemForm)"
  >
    <legend class="legend">
      {{ label.item }}
    </legend>

    <!-- Title -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ label.title }}</mat-label>
      <input matInput type="text" formControlName="title" #titleRef />
      @if (titleRef.value) {
        <button
          type="button"
          matSuffix
          mat-icon-button
          matTooltip="{{ label.clear }}"
          matTooltipPosition="above"
          (click)="itemForm.controls.title.reset()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-error>
        <ng-container
          *ngTemplateOutlet="
            formErrorsRef;
            context: { $implicit: itemForm.controls.title }
          "
        ></ng-container>
      </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ label.description }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
        #descriptionRef
      />
      @if (descriptionRef.value) {
        <button
          type="button"
          matSuffix
          mat-icon-button
          matTooltip="{{ label.clear }}"
          matTooltipPosition="above"
          (click)="itemForm.controls.description.reset()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-error>
        <ng-container
          *ngTemplateOutlet="
            formErrorsRef;
            context: { $implicit: itemForm.controls.description }
          "
        ></ng-container>
      </mat-error>
    </mat-form-field>

    <!-- Form actions -->
    <div class="form-actions">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="itemForm.invalid"
      >
        {{ label.submit }}
      </button>
    </div>
  </form>
</div>

<ng-template #formErrorsRef let-formControl>
  @if (formControl.hasError("required")) {
    {{ label.requiredErrorField }}
  } @else if (formControl.hasError("pattern")) {
    {{ label.patternErrorField }}
  }
</ng-template>
