mat-form-field
    width: 100%
.item-meta-wrap
    display: flex !important
    justify-content: center
    align-items: center
    height: 100%
.item-sample-price
    height: fit-content
    align-self: center
.item-discounted
    text-decoration: line-through
.spinner-container
    width: 100%
    display: flex
    justify-content: center

mat-grid-tile
    border: 2px solid #d3d3d3
    overflow: auto
    text-align: left

    &.without-border
        border: 0

    ::ng-deep .mat-grid-tile-content
        display: block
        padding: 1em

app-pagination
    ::ng-deep mat-chip-set
        padding-bottom: 20px
.controls
    display: flex
.new-btn
    margin-left: auto